h1
{
  color: cornflowerblue;
  font-style: normal;
}
img
{
    width: 600px;
    height: 360px;
}
div
{
    text-align: center
}
h3
{
    color: darkblue
}
body
{
    background-color: azure
}