h1
{
  color: cornflowerblue;
  font-style: normal;
}
img
{
    width: 500px;
    height: 300px;
}
div
{
    text-align: center
}
h3
{
    color: red;
    font-size: 40px;
}
body
{
    background-color: darkcyan
}
section {
    display: flex;
    width: 600px;
    height: 430px;
}
section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
}
section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    background: rgb(236,242,248);
}
input {
    font: inherit;
}
section {
    min-height: 11vh;
    display: flex;
    align-items: center;
}
form {
    margin: auto;
}
form > div {
    display: flex;
    background:#fff;
    padding: 9px 22px 9px 26px;
    border-radius: 30px;
    border: 2px solid #cad3dc;
    box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px
        rgba(0, 0, 0, 0.1) 10px 10px 10px,
        rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
        rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
}
form input {
    border: none;
    background: transparent;
    font-weight: bold;
    padding-left: 24px;
    background-image: url(img/icon.png);
    background-size: 16px;
    background-repeat: no-repeat;
    width: 0px;
    transition: all 1s;
}
form input:focus{
    outline: none;
    width: 500px;
}
 
